<!-- if signed in display the counter -->
<% if signed_in? %>
       
       <%= render 'shared/starter' %>
       <%= render 'shared/test' %>

<% else %>



<!-- The Hero Unit --> 
<div class="center hero-unit-new">
    <h1>Stop wasting time <%= image_tag("clock.png", :size => "25x25")%>  Start focusing.</h1>
    
    <%= link_to "Sign up", signup_path, class: "btn btn-success btn-xlarge" %>  

</div>
<hr>

<!-- Product explanation -->

   <div id="middle-page-wrapper"> 
   <h3>This productivity technique gets you into the flow and helps break procastination 
    habits.</h3> 
    <h4>When you want to procastinate, you start FocuPush Countodwn and commit to <strong>20 minutes</strong> on one productive action.</h4>
    <div class="padding"></div>
     <div class="row-fluid">
        <div class="span4">
          <h3>You want to go on Facebook?</h3>
          <p>Just do 20 first. </p>
        </div>
        <div class="span4">
          <h3>You want a cup of tea?</h3>
          <p>Just do 20 first.</p>
          
       </div>
        <div class="span4">
          <h3>You want to watch baby table tennis?</h3>
          <p>Just do 20 first.</p>
        </div>
      </div>
      <div class="padding"></div>
      <h4>You build willpower by choosing to stretch your focus just a little bit every day.</h4>
      <h3>A little extra push goes a long way, besides, it's just 20 minutes!</h3>
      <%= link_to "Sign up", signup_path, class: "btn btn-success btn-large" %>  
      <hr>
    <h3>Need one last moment of procastination?</h3>
    <%= link_to image_tag(image_path "qmark.png"), "http://www.youtube.com/watch?v=1n5uFGk2pnc", target: '_blank' %>
   </div>
    
    
<!-- Wrapper to give the bottom section some color -->
 
    <div class="bottom-page-wrapper">      
      
<!-- Recommendations / case studies -->    
    <div id="mini_testimonials", class="row">
      <h3> <%= image_tag(image_path "heart.png") %> FocusPush </h3>
        <div class="span6">
            <p class="bubble">
                "I use FocusPush when I need time to answer my email. It is a great way to get me focus
                on the task at hand."
                </p>
            <p class="test_details">Tom Thorpe<br /><span>Entrepreneur</span></p>
        </div>
            
        <div class="span5">
            <p class="bubble">
                "Using FocusPush is so easy. It really helps me focus on what I need to do.... it's like my virtual teacher. 
                </p>
            <p class="test_details">Will Powell<br /><span>Academic</span></p>
        </div>    
    </div>
</div>


     
            <% end %>  
