<h1 class="center">TIME = LIFE</h1> 

    <br />

<%= form_for(@task) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  	<p>I am going to work for:</p>
  	<div id ="time_input">
  	<%= f.text_field :time, placeholder: "Minutes." %>
  	</div>
  	<p>and I am going to:</p>
    <%= f.text_area :content, placeholder: "What's your new task..?" %>
  </div>
  <p>Lets go.</p>
   <%= f.submit "Push the button", class: "btn btn-success btn-xlarge" %>
  
<% end %>



