<!-- This is the original code from the show.html.erb page. It is here so that it can be rendered when the user is signed in in 2 places> -->
<div class= "logos">
<h1><%= @user.name %></h1>
</div>

<!-- Bottom layout. Showing how long we have used the button for and a little motivational picture. -->

<div class="middle-page-wrapper">
    <div class="container">
    <div class="row">
        <div class="span6 et-split">
            <h1>So far...</h1>
            <div class="row item">
                <div class="metrics">
                <h1><%= @user.tasks.count %></h1>
                <p class="et-label">times</p>  
            </div>
         <div>
                <h7>Push the button</h7>
                <p>So far you have pushed this many times. <br />That's Will Power.</p>
            </div>
        </div>
        <div class="row item">
            <div class="metrics">
              <h1><%=@user.tasks.count * 20 %></h1>
              <p class="et-label">minutes</p>    
            </div>
            <div>
                <h7>Woah! That's Will Power</h7>
                <p>This is how long you have been working for without <br /> those pescky habits.
                    That's Will Power. 
                </p>
            </div>
        </div>
      </div>
<!-- Right hand side of the bottom section -->
        
    <div class="span6 et-split-right">
        <h1>Keep it up</h1>
        
        <div class="row item">
           
            <div>
                <% if @user.tasks.any? %>
                <ol class="microposts">
                    <%= render @tasks %>
                </ol>
                <%= will_paginate @tasks %>
                <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
