
 <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">FocusPush</a>
          <nav>
            <ul class="nav pull-right">
            <li><%= link_to "Home", root_path %></li>
            <li><a href="http://focuspush.tumblr.com/", target="_blank">Blog</a></li>
          <% if signed_in? %>
          	<% if current_user.admin? == true %>
          		<li><%= link_to "Admin", admin_path %>
          	<%end%>
            
            <li><%= link_to "Account", edit_user_path(current_user) %></li>
            <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
              </ul>
            </li>
          <% else %>
            <li class="dropdown">
              <%= link_to "Sign in", signin_path, class: "dropdown-toggle" %>
                
              
              </li>
          <% end %>
        
          </ul>
          </nav>
        </div>
      </div>
    </header>



      